PORT=3333
HOST=0.0.0.0
NODE_ENV=development
APP_KEY=LOQDtiQ4Ih1tmrS_L56R4WT_Zc30zcrp
DRIVE_DISK=local
DB_CONNECTION=mysql
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=lucid
MYSQL_PASSWORD=
MYSQL_DB_NAME=lucid
